[% extends "layouts/base.html" %]
[% block body() %]
<div style="margin-bottom: 14.5%;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">[%.title%]</li>
        </ol>
    </nav>
    [% if .signIn   %]
    <a class="btn btn-primary" href="/abouth-admin">Abouth Admin</a>
    [%end%]
    <legend></legend>
    <div class="row">
        <div class="col-sm-4">
            <img class="preview" src="/imagesv/[% .data.ID%]" alt="">
        </div>
        <div class="col-sm-7">
            Tentang :
            </h2>
            <p></p>
            <h4> [%.data.Title%] </h4>
            <p> <i class="fas fa-phone-square-alt"></i> [%.data.Desc%]</p>
        </div>
        
    </div>

</div>

[% end %]