[% extends "layouts/base.html" %]
[% block body() %]
<div style="margin-bottom: 14.5%;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">[%.title%]</li>
        </ol>
    </nav>
   
    <div class="row">
        <div class="col-sm-4">
           [% range index, value := .data%]
                [%value.Name%]
                [%value.Desc%]
           [%end%]
        </div>
        <div class="col-sm-7">
           
        </div>
        
    </div>

</div>

[% end %]