<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="./">KREASINDO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  
                </div>
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="./specialist">Specialist</a>
                    <a class="nav-item nav-link" href="./abouth">Abouth</a>
                    <a class="nav-item nav-link" href="./contact">Contact</a>

                    [% if not .signIn   %]
                    <a class="nav-item nav-link" href="./login">SignIn</a>
                    [%else%]
                    <a class="nav-link" href="/user-admin">User-Admin</a>
                    <a class="nav-link" href="/login">SignOut ([% .username%]) </a>
                    [%end%]
                </div>
            </div>
        </div>
    </nav>
</header>