$colors:(
    primary : rgb(52, 106, 255),
    acient: #aaece3,
);

@function color($color-name){
    @return map-get($colors, $color-name )
}
body,
html {
    height: 100%;
}

body {
    background-color: color(acient);
    margin: 0;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}