<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form  action="./user" method="post">
                <div class="modal-body">
                    <div class="form-group">
                    <input type="text" name="username" placeholder="username">
                    </div>
                    <div class="form-group">
                    <input type="email" name="email" placeholder="email">
                    </div>
                    <div class="form-group">
                    <input type="password" name="password" placeholder="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="button">Create</button>
                    <button type="button" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>