[% extends "layouts/base.html" %]
[% block body() %]
<div class="container" id="user-id">
    <div class="row">
        <button type="button" class="btn btn-primary  btn-sm" data-toggle="modal" data-target="#createModal">
            Create
        </button>
        [% include "users/create.html" %]

        </br>
        </br>
    </div>
    <div class="row">
        <div class="" v-if="!loading">
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">-</th>
                        </tr>
                    </thead>
                    <tbody v-for="(item, index) in items">
                        <tr>
                            <th scope="row">{{ index + 1 }}</th>
                            <td>{{ item.username }}</td>
                            <td>{{ item.email }}</td>
                            <td>
                                <button type="button" class="btn btn-primary  btn-sm" data-toggle="modal"
                                    data-target="#updateModal" @click="updateData(item)">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal"
                                    @click="deleteData(item.ID, index)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    [% include "users/update.html" %]

</div>
[% include "users/vuejs.html" %]
[%end%]