[% extends "layouts/base.html" %]
[% block body() %]
<div id="user-id">
    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
            Create
        </button>
        [% include "users/create.html" %]

        <br>
    </div>
    <div class="row">
        <div class="" v-if="!loading">
            <table class="table table-bordered table-sm table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">-</th>
                    </tr>
                </thead>
                <tbody v-for="(item, index) in items">
                    <tr>
                        <th scope="row">{{ index + 1 }}</th>
                        <td>{{ item.username }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.password }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal"
                                @click="updateData(item)">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger pull-right" data-toggle="modal"
                                @click="deleteData(item.ID)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    [% include "users/update.html" %]

</div>
[% include "users/vuejs.html" %]
[%end%]